.header {
    font-family: roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;   
}
.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 300px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 300px;
}
.hero {
    font-family: roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px;  
}
.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 250px;
    align-items: flex-start;
    
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    width: 450px;
    margin-right: 250px;
}
.image img {
    display: flex;
    height: 300px;
    width: auto;
}
img {
    height: 100px;
    width: auto;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    margin-bottom: 100px;
}
.info{
    max-width: 200px;
}
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote p {
    margin: 100px 450px 20px 450px;
}
.author {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 500px;
    margin-bottom: 100px;
}