.header {
    font-family: roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;   
}
.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 200px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 200px;
}
.hero {
    font-family: roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

